form {
    padding: 10px 30px 20px 25px;
}

md-input-container {
    width: 100%;
} 

md-card {
    width: 15%;
    float: left;
} 

.fixed {
    position: fixed;
}

.fixed-left {
    top: 70px;
    position: fixed;
    float: left;
}

.float-right {
    top:70px;
    float: right;
}
